.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -19px;
    padding: 20px 40px;
    color: white;
}
.about h3{
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}
.about h4{
    font-size: 25px;
    text-decoration: underline;
    margin: 20px 0;
}
.about p{
    font-size: 20px;
    word-spacing: 2px;
}
.in-about{
    background: rgba(205, 202, 202, 0.4);
    border-radius: 5px;
    padding: 40px 20px;
}

.grids{
    display: flex;
    gap: 10px;
    padding: 10px 0px; 
}
.ingrid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(205, 202, 202, 0.4);
    align-items: center;
    padding: 40px 35px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.ingrid.aos-animate{
  transform: none !important;
}

.icon{
    font-size: 50px;
}
.ingrid h3{
    margin: 0;
    font-size: 25px;
}
.ingrid p{
    text-align: center;
    font-size: 20px;
    margin: 0;
}

@media (max-width: 450px) {
  .about {
    padding: 10px 15px;
    text-align: center;
    width: 100%;
  }

  .about h3 {
    font-size: 25px;
    margin: 20px 0;
  }

  .about h4 {
    font-size: 20px;
    margin: 15px 0;
  }

  .about p {
    font-size: 15px;
    line-height: 1.5;
  }

  .in-about {
    width: 95%;
    padding: 15px 12px;
    border-radius: 8px;
  }

  .grids {
    flex-direction: column;
    gap: 10px;
    width: 95%;
  }

  .ingrid {
    padding: 25px 20px;
    gap: 15px;
  }
  .ingrid h3{
    margin: 0;
  }
  .ingrid p{
    margin: 0;
  }
  .about p, 
  .ingrid p {
    text-align: center; 
  }
  .icon {
    font-size: 40px;
  }

  .ingrid h3 {
    font-size: 20px;
  }

  .ingrid p {
    font-size: 15px;
    line-height: 1.4;
  }
}
