.myproject{
    margin-top: -19px;
    padding: 20px 40px;
    color: white;
}
.myproject h3{
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}
.projs{
    display: flex;
    gap: 20px;
}
.project{
    background: rgba(205, 202, 202, 0.4);
    padding: 20px 35px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.project h4{
    font-size: 25px;
    margin: 20px 0px;
}
.project ul li{
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    list-style: circle;
}
.project:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.project button{
    background-color: #ffb300;
    color: black;
    margin-top: 15px;
    font-size: 18px;

}
@media (max-width:450px){
    .myproject{
        margin-top: 0px;
        padding: 10px 15px;
    }
    .myproject h3{
        font-size: 25px;
        margin: 20px 0;
    }
    .projs{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .project{
        width: 95%;
        padding: 20px 25px;
    }
    .project h4{
        font-size: 20px;
        margin: 0;
    }
    .project ul li{
        font-size: 15px;
    }
}